*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.content {
  margin-left: 230px;
}

.wrapper {
  max-width: 1100px;
  margin-right: auto;
  background-color: red;
  height: 100%;
  min-height: 100%;
}

/***********************************************************
 *******************     SIDE BAR       ********************
 ***********************************************************/
.sidebar {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  padding: 0 0 30px 43px;
  width: 230px;
  background: url(../media/bg-nav.png) repeat-y;
}
.sidebar h1 {
  position: absolute;
  top: 90px;
  left: -2px;
  padding: 75px 50px 0 0;
  text-indent: -100000px;
  background: url(../media/logo-ladieslearningcode.png) no-repeat;
}
.sidebar .nav-menu {
  position: absolute;
  top: 265px;
}
.sidebar .nav-menu li {
  padding-bottom: 10px;
}
.sidebar .nav-menu li a {
  font-size: 20px;
  color: white;
  font-weight: 300;
}
.sidebar .nav-menu li a:hover {
  color: #b1009a;
}
.sidebar .nav-menu li a:hover:before {
  content: "_";
}

.footer {
  position: absolute;
  bottom: 30px;
}
.footer .social-media .tweet, .footer .mobile-social .tweet {
  background-image: url(../media/icon-twitter-32x32.png);
}
.footer .social-media .fb, .footer .mobile-social .fb {
  background-image: url(../media/icon-facebook-32x32.png);
}
.footer .social-media .email, .footer .mobile-social .email {
  background-image: url(../media/icon-email-32x32.png);
}
.footer .social-media .RSS, .footer .mobile-social .RSS {
  background-image: url(../media/icon-rss-32x32.png);
}
.footer .credits {
  padding-top: 10px;
}
.footer .social-media li, .footer .mobile-social li {
  width: 32px;
  height: 32px;
  display: inline-block;
}
.footer .social-media li a, .footer .mobile-social li a {
  text-indent: -9999;
  width: 32px;
  height: 32px;
  background-image: url(../media/icon-twitter-32x32.png) no-repeat;
  background-position: 0px 0px;
}
.footer .credits, .footer .mobile-credits {
  font-size: 9px;
  line-height: 19px;
}
.footer .credits p, .footer .mobile-credits p {
  color: #808184;
}
.footer .credits a, .footer .mobile-credits a {
  color: white;
}

/***********************************************************
 *******************     CONTENT        ********************
 ***********************************************************/
.content {
  position: relative;
  padding: 0 3.45% 0 5.74%;
  float: left;
  width: 80%;
}
.content h2 {
  font-family: 'Helvetica','Arial','sans-serif';
  font-weight: 300;
  font-size: 48px;
  line-height: 52px;
  margin: 0;
  padding: 0;
  padding-top: 256px;
}

.twitter {
  display: inline-block;
  max-width: 25%;
  padding-top: 90px;
  padding-left: 1.7%;
  position: absolute;
  right: 30px;
  border-left: 1px solid grey;
}

.feature {
  margin-top: 50px;
  float: left;
  width: 20%;
  margin-right: 5%;
  font-size: 20px;
}
.feature h3, .feature a, .feature p {
  font-weight: 300;
}
.feature p, .feature a {
  color: #808184;
  padding: 5px 0;
}
.feature a {
  color: #b1009a;
}
.feature a .arrow {
  background: url(../media/icon-cta-25x25.png) no-repeat;
  background-position: 0 0px;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 2px;
}
.feature a .arrow:hover {
  background-position: -25px 0px;
}

.feature + .feature + .feature {
  margin-right: 0;
  margin-bottom: 50px;
  padding-bottom: 150px;
}

/** mobile footer */
.mobile {
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  display: none;
}

/* Portrait tablet and small desktops */
@media all and (max-width: 940px) {
  .content h2 {
    font-size: 32px;
    line-height: 38px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .content h2 {
    font-size: 28px;
    line-height: 32px;
  }
}
/**********************************************************

************           MEDIA           ********************

***********************************************************
*******************     TOP NAV        ********************
***********************************************************/
@media (max-width: 1000px) {
  .content {
    padding-right: 50px;
  }

  .twitter {
    right: 5%;
  }
}
@media (max-width: 960px) {
  .feature {
    width: 40%;
  }

  .twitter {
    right: 10%;
  }
}
@media (max-width: 875px) {
  .twitter {
    right: 15%;
  }

  .content {
    padding-right: 100px;
  }
}
@media (max-width: 800px) {
  .twitter {
    right: 20%;
  }
}
@media (max-width: 750px) {
  .twitter {
    right: 25%;
  }

  .content {
    padding-right: 125px;
  }
}
@media (max-width: 700px) {
  .twitter {
    right: 30%;
  }

  .content {
    padding-right: 155px;
  }
}
/*********************************************************
&&&&&&&&&&&&&&         TOP BAR             &&&&&&&&&&&&&&&&
**********************************************************/
@media (max-width: 600px) {
  .content {
    padding-right: 0;
  }

  .content h2 {
    padding-top: 25px;
    width: 100%;
    line-height: 40px;
  }

  .feature {
    width: 40%;
  }

  .content {
    margin-left: 0;
    margin-top: 230px;
    width: 100%;
  }

  .sidebar {
    position: absolute;
    height: 230px;
    width: 100%;
    left: 0;
    right: 0;
    top: auto;
    bottom: auto;
    background-image: none;
    background: black;
    border-bottom: 5px solid white;
    box-shadow: 0 1px 10px #808184;
    padding: 0;
  }
  .sidebar a h1 {
    width: 190px;
    height: 90px;
    background-position: 0px 0px no-repeat;
    position: static;
    margin: 25px auto;
    display: block;
    padding: 0;
  }
  .sidebar ul.nav-menu {
    top: 150px;
    text-align: center;
  }
  .sidebar ul.nav-menu li {
    display: inline;
    background: 1px solid yellow;
    padding: 0 10px;
  }

  .feature.mail {
    margin-left: 30px;
  }

  .credits, .social-media, .twitter {
    display: none;
  }

  .mobile, .mobile-social, .mobile-credits {
    display: block;
  }

  .mobile-social, .mobile-credits {
    padding-left: 20px;
  }

  .mobile-social {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .mobile-credits ul li {
    color: #808184;
  }

  .footer {
    position: relative;
  }

  .mobile .credits {
    color: white;
  }
}
/* Landscape phones and down */
